*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;/*Ajuste*/
}
/*                                    HEADER                                      */
header{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /*El contenedor se centra*/
    background-color: burlywood;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*centra el logo*/
}
.bolsa{
    position: relative;
    font-size: 22px;/*Agranda el tamaño del carrito*/
    cursor: pointer;/*Cada vez que pasamos por encima de la bolsa vcambia la flecha a una manito*/
}
/*parte del numero del carrito*/
.cuenta{
    width: 18px;
    height: 18px;
    background-color: orange;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid white;
    position: absolute;
    right: -7px; /*Sobre pone el numero encima del carrito al lado derecho*/
    bottom: -7px; /*Hace lo mismo que el anterior pero de arriba hacia abajo*/
}
.carrito{
    width: 250px;
    height: 410px;
    /*display: none;oculta del contenedor del carrito como si no existiera pero quda el carrito*/
    position: absolute;
    right: 0px;/*para que no salga del contenedor*/
    top: 100%;
    box-shadow: 0 0 10px blue;/*Coloca un border al contenedor donde estoy trabajando*/
    z-index: 1;/*permite que no se vea el contenedor que este de fondo*/
    background-color: blanchedalmond;
    padding: 20px;/*Le coloca bordes separando las letras del limite del contenedor*/
    border-radius: 5px;
}
.carrito .arriba{
    width: 100%;
    height: 50px;
    *background-color: rgb(209, 136, 26);
}
.arriba h3{
    font-size: 20px;/*tamaño de la letra*/
}
.arriba p{
    font-size: 15px;/*tamaño de la letra*/
}
.carrito table{
    width: 100%;
    height: 150px;
    background-color: rgb(191, 174, 174);
    margin-top: 20px;
    border-radius: 5px;
}
.abajo{
    width: 100%;
}
.abajo .precios{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px; 
    background-color: rgb(191, 174, 174);
    align-items: center;  
}
.precios p{
    font-size: 15px;/*tamaño de la letra*/
}
.abajo .botones{
    width: 100%;
}
.botones button{
    padding:10px;
    width: 100%;
    font-size: 10px;
    border: none;/*Para que me quite el borde del boton*/
    background-color: rgb(195, 83, 167);/*Color del boton*/
    border-radius: 3px;
    color: white;/*color de la letra*/
    margin-top: 5px;/*Separa los botones de la parte de arriba*/
    cursor: pointer;
}
.botones button:active{
    background-color: rgb(114, 28, 92);/*Cada vez que yo oprimo el boton cambia de color*/
}
.abajo a{
    display: block;
    width: 100%;
    text-align: right;/*Pasa el texto para el lado derecho*/
    font-size: 14px;/*Tamaño de la letra*/
    margin-top: 10px;
}
/*                                    BODY                                       */
/*   PRODUCTOS   */
.productos{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 30px;/*para separar las cards de los productos*/
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.productos .producto{
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px blue;/*Coloca un border al contenedor donde estoy trabajando*/
    margin-bottom: 200px;
    border-radius: 6px;
    padding: 20px;/*Le coloca bordes separando las letras del limite del contenedor*/
}
.producto .imagen{
    width: 100%;
    height: 150px;
    background-color: gray;
    border-radius: 6px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.producto .imagen img{
    width: 150px;
    height: 90%;
    
}
.producto h3{
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.producto p{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.producto button{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: burlywood;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.producto button:active{
    background-color: rgb(154, 124, 85);
}
.carrito{
    display: none;
}
.bolsa:hover .carrito{
    display: block;
}
